DATABASE_URL="postgresql://liftlytics:liftlytics@localhost:5432/liftlytics?schema=public"
BASIC_AUTH_USERNAME="admin"
BASIC_AUTH_PASSWORD="change-me-before-deploy"
BASIC_AUTH_USERNAME_2="training-partner"
BASIC_AUTH_PASSWORD_2="change-me-too"
BASIC_AUTH_USERNAME_3="training-partner-2"
BASIC_AUTH_PASSWORD_3="change-me-three"
BASIC_AUTH_USERNAME_4="training-partner-3"
BASIC_AUTH_PASSWORD_4="change-me-four"
